/*
 * Warning: This documents contains abuse of em units and border-radius. Thank you.
 *
 * It's also one messy style sheet. =/
 *
 * Commented properties are things that I tired to use, but didn't work out so well. I keep them here in case i want another shot at it =)
 */

* { margin:  0; padding: 0; }
html { font-size:  75%; }

body {
	width:       700px;
	margin:      0 auto; 
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size:   1em;
    line-height: 1.5em; }

#userbox {
    background-color: #E7F1FD;
    border-color: #8F9AA7 #C1CAD5 #C1CAD5;
    border-radius: 0px 0px 5px 5px;
    border-style: solid;
    border-width: 1px;
	float: right;
	position: relative;
	right: 0px;
	top: -13px;
	padding: .5em; }

#userbox legend { display: none; }
#userbox span { float: left; }
#userbox form { float: right; margin-left: 15px; display: inline-block; }

ul#menu {
	clear: both;
	background-color: #F1F7FE;
    height: 30px;
    margin: 0;
    text-align: center;
	list-style-type:none;	
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	font-weight:bold;
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	border-color: #8F9AA7 #C1CAD5 #000000;
    border-style: solid;
    border-width: 1px; }

ul#menu li { display:inline; }
	
ul#menu li a {
	color: #535353;
    display: inline-block;
    height: 30x;
    line-height: 31px;
    padding: 0 1em;
    text-decoration: none; }
	
ul#menu li:hover {	
    color: #000000;
	border-bottom: 2px solid #000000;
	padding-bottom: 5px; }

ul#menu a:hover {	color: #000000; }
	
ul#menu li a.current {
	/* -1 margins to make up for the added border pixels */
	margin:-1px;
	border-color: #000000;
    border-style: solid;
    border-width: 1px 1px 0px;
    background-color: #E7F1FD;
    color: #000000; }

#header { padding: 1em; }

#content {
    background-color: #E7F1FD;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-color: #8F9AA7 #C1CAD5 #C1CAD5;
    border-style: solid;
    border-width: 0 1px 1px;
    font-size: 11px;
    margin-bottom: 18px;
    padding: .7em; }
	
#content ul { list-style-type: none; }
 
#content ul li {	
	height: 32px;
	line-height: 32px; }
	
#content ul li:before { content: "\00BB \0020"; }

h2 { margin: .4em 0; text-align: center; }
fieldset { border: none; }

legend{
	font-size: 16px;
	font-weight: bold;
	padding: .5em;
	margin: .2em 0; }

table{ margin: 0 auto; }
td, th { padding: 2px 4px; }

h1 { margin: .5em; }

input, button, textarea{
    border:      1px solid #CCCCCC;
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    font-size:   11px;
	background-color: #F0F0F0; }

input:focus, select:focus, textarea:focus { background-color: #FFFFFF; border-color: #000; }
option { padding: 0 .5em; }
input, button { padding: .125em .5em; }

select {
    border:      1px solid #CCCCCC;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size:   11px; }
	
span.clear { display:none; clear: both; }	
hr { margin: .7em 0; }
p { margin-top: 0.75em; text-align: justify; }

input[type='checkbox'], input[type='radio'] { height: 32px; vertical-align: middle; margin: 1px; }

#crntOps{ float; left; width: 348px; }
#lastOps{ padding-top: 2em; clear: both; }
#transferOwnership, #endOp, #resetChar, #editPrecision { width: 300px; margin-bottom: .5em; }
#transferOwnership, #resetChar { float: right; }
#endOp, #editPrecision  { float: left; }
#salvageInfo { clear: both; }
	
#transferOwnership form, #endOp form, #members button { 
	display: block; 
	text-align: center; 
	margin: 0 auto; }

#opCreate legend {
	display: none;
	text-align: center; }

#opCreate {
	float:right;
	width: 292px;
	border-left: 3px dotted #333; 
	padding-left:35px;
	margin-left:20px;
	position:relative; }

	
/* These 3 make some of the border disappear for a more pleasing visual */
#opCreate span {
	position: absolute;
	width: 20px;
	height: 40px;
	display: block;
	background: #E7F1FD; }

#opCreate span.top { top:-4px; left:-4px; }
#opCreate span.bottom { display: none; bottom:-4px; left:-4px; }

#opBox { float:right; }

#lootsubmit dl, #sellLoot dl , #lt-payOut dl  {
display: table;
	width: 475px;
	margin: 0 auto;
}

#lootsubmit dt, #sellLoot dt , #lt-payOut dt {

    float: left;
    height: 32px;
    line-height: 32px;
	margin: 0px;
	width: 320px; }

#lootsubmit dd, #sellLoot dd, #lt-payOut dd {
text-align: right;

    float: right;
width:150px;
    height: 32px;
	line-height: 32px;
	padding-right: 5px; margin: 0px;
	}

#groups dt {
    clear: both;
    display: inline;
    float: left;
    height: 24px;
    line-height: 24px;
    width: 50px; }
	
#groups dd {
    float: left;
    height: 24px;
    line-height: 24px;
	padding-right: 5px; }
	
#lootsubmit .odd, #sellLoot .odd, #lt-payOut .odd { 
	background: #F1F7FE; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black; }

#fs-groupsSet dt{ display: none; }
#sellLoot button { margin-top: .5em; }
#members { clear: both; }
#memberForm { margin: 0 auto;}
#memberForm dd { display: none; }

#memberForm dt{ 
	display: inline-block;
	width: 155px;
	height: 32px;
	margin: 2px 0px;
    line-height: 32px;
	padding-left: 3px;
	/* transparent border here to make it easier to apply other borders without screwing with pixel shifts */
	border: 1px solid transparent;
}

#memberForm label { cursor: pointer; }

#memberForm dt > label > small { 
	float: right; 
	position: relative;
	top: 10px;
	right: 3px;
}

#footer {
    border-top: 0.0833em solid #666666;
    clear: both;
    padding: 0.75em 0;
    text-align: center; }
	
#footer p {
    color: #666666;
    margin: 0;
    text-align: center; }

.note, .success, .error {
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 5px; 
}

/* The transparent border in `#memberForm dt` is overriding these border, thus the !important.
todo: find out the reason why and fix it */
.note, .keep { background-color: #E3E9F2; border: 1px solid #C1CAD5 !important; }
.success, .add { background-color: #E6F8DE; border: 1px solid #4C9A20 !important; }
.error, .remove { background-color: #FFC4C4; border: 1px solid #FF0000 !important; }

.error > span {
	font-size: 1.1em;
	display: block;
	text-align: center;
	font-weight: bold; } 

.submit { text-align: center; clear: both; }

/*
	Doesn't work
#memberForm input[type="checkbox"][checked] {
background-color: #E6F8DE;
    border: 1px solid #4C9A20;
	padding: 5px; }
	*/
/* Was supposed to start a new row every 4 elements. This is handeled automatically from the inline-block wrapping around
dt:nth-child(3n+2) { background: #F1F7FE; border-top: 1px solid black; border-bottom: 1px solid black; }
*/


